@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilização do cabeçalho */
header{
    background-color: #030104;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fundo__home{
    background-color: #030104;
}
@font-face {
    font-family: Title;
    src: url(../Fonts/ghostclanexpandital.ttf);
}
h1, h2{
    font-family: Title;
}
h1{
    font-size: 40px;
    color: #ba2e26;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header a{
    font-size: 25px;
    text-decoration: none;
    color: #ba2e26;
    margin: 0 10px;
    font-weight: 900;
}
header a:hover{
    color: #ba2d26ab;
}
.redes__sociais{
    background-color: rgba(0, 0, 0, 0.753);
    box-shadow: 1px 1px 5px 3px #000;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 150px;
}
.redes__sociais a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
.redes__sociais a:hover{
    color: #ba2e26;
}
/* Estilização da página Home */
.cartaz{
    width: 1349px;
    height: 1200px;
    background-image: url(../images/spider-man-poster-1400.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
}
.cartaz p{
    background-color: rgba(0, 0, 0, 0.753);
    box-shadow: 2px 2px 7px 2px #030104;
    color: #fff;
    font-size: 19px;
    width: 40%;
    padding: 15px 20px;
    text-align: justify;
    word-spacing: 2px;
    margin-left: 30px;
}
.texto{
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 40px 0 15px;
}
.mapa{
    display: flex;
    justify-content: center;
}
.mapa iframe{
    width: 70%;
    height: 450px;
    border:0;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container>section{
    width: 24.5%;
    margin: 0 10px;
}
h2{
    text-align: center;
    text-decoration: none;
    color: #ba2e26;
}
a{
    text-decoration: none;
}
.container img{
    width: 100%;
}
.texto__imagem{
    font-size: 17px;
    text-align:justify;
    padding: 3px 0;
}
.texto__imagem a{
    text-decoration: none;
    color: #fff;
}
.container__videos{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
.videos{
    margin: 10px auto 20px;
    display: flex;
    flex-direction: column;
}
.videos a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
}
.videos iframe{
    width: 760px; 
    height: 415px; 
}
footer{
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
}
footer a{
    text-decoration: none;
    color: #ba2e26;
    font-weight: 900;
}
footer a:hover{
    color: #fff;
}
/* Estilização da página Contato e Entrar */
.fonte__diferente{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: left;
}
.fundo{
    background-image: url(../images/spider-man-face.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container__login, .container__contato{
    padding: 15px;
    box-sizing: border-box;
    width: 30%;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.883);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.container__contato{
    width: 45%;
    height: 825px
}
.links{
    margin-bottom: 10px;
}
.links a{
    text-decoration: none;
    color: #ccc;
}
.links i{
    font-size: 22px;
    margin-right: 5px;
}
.links a:hover{
    color: #ba2e26;
}
.ou{
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}
p{
    margin-bottom: 10px;
    color: #ccc;
}
.container__filho em{
    text-decoration: none;
    color: #ba2e26;
}
address, em{
    font-style: normal;
}
label{
    color: #ccc;
    font-size: 16px;
}
input, textarea, select {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}
textarea{
    resize: none;
    height: 100px;
    padding-top: 5px;
}
.campos__desejo{
    display: flex;
    align-items: flex-start;
}
.campos__desejo input{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.container__contato .botao{
    justify-content: right;
    align-items: flex-end;
}
.container__login button{
    width: 95%;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #0647a9af;
    color: #fff;
    font-size: 19px;
    border: 0;
}
.container__contato button{
    background-color: #0647a9af;
    color: #fff;
    font-size: 16px;
    padding: 15px 40px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
}
button:hover{
    background-color: #007fd7;
    cursor: pointer;
}
.links__login{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
}
.links__login a, .links__login p{
    margin: 0 3px;
    font-size: 18px;
    text-decoration: none;
    color: #0647a9af;
}
.links__login a:hover{
    color: #007fd7;
}